.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}
/* 
.profile-image {
    height: 30px;
} */

.header-title {
    cursor: pointer;
}
