.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.username-text {
    display: none;
}

.header-title {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .username-text {
        display: block;
    }
}